.social-tags
	.fb-like.facebook-tags(
		data-href="http://www.sbentleyart.com/" 
		data-layout="button_count" 
		data-action="like" 
		data-colorscheme="dark"
		data-show-faces="false" 
		data-share="true"
	)
	.g-plusone(
		data-size="medium" 
		data-href="http://www.sbentleyart.com/"
	)
