title Sarah Bentley Studio
meta(
	name="Description"
	content='S Bentley Studio, encaustic paintings, wood block art. Sarah Bentley is a local Madison artist. She received her MFA in painting from the University of Wisconsin Madison, and continues to work on her art from her studio, at Commonwealth Enterprise center. Her work has been shown in Wisconsin and Minnesota. Her paintings are created with a mixture of oil paint and beeswax, also known as "encaustic". Her most recent work has focused on imaginative depictions of insects and beehives. The larger than normal 4 inch depth of her canvases create a sculptural element to the art, and eliminate the need for a traditional frame.'
	)
meta(
	name="keywords"
	content="Sarah Bentley Art Studios Encaustic Wood Block Gallery Galleries"
)
meta( property="og:title" content="Sarah Bentley Studio" )
meta( property="og:description" content="Encaustic canvas paintings and wood blocks by Sarah Bentley" )
meta( property="og:type" content="website" )
meta( property="fb:admins" content="sarah.bentley.524" )

meta( property="og.url" content="http://www.sbentleyart.com")
meta( property="og:image" content="http://www.sbentleyart.com/images/background.jpg" )

link(
	rel="icon" 
	href="favicon.ico" 
	type="image/x-icon"
)

link(
	rel="shortcut icon" 
	href="favicon.ico" 
	type="image/x-icon"
)
